.left-menu {
  font-size: 22px;
  margin-right: 10px;
  width: 180px;
  height: 300px;

  padding-top: 60px;
}

.left-menu-element {
  width: 160px;
  font-size: 14px;
  padding: 2.5px 10px;

  border-radius: 2px;
  cursor: pointer;
}

.left-menu-element:hover {
  background-color: rgb(177, 177, 177);
}

.left-menu-element:active {
  opacity: 0.7;
}